<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flarb.crisis"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.flarb.crisis.ConnectActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.flarb.crisis.ControlActivity"
            android:label="@string/title_activity_control" >
        </activity>
        <activity
            android:name="com.flarb.crisis.programs.ProgramTour"
            android:label="@string/title_activity_program_tour" >
        </activity>
        <activity
            android:name="com.flarb.crisis.programs.ProgramNavigate"
            android:label="@string/title_activity_program_navigate" >
        </activity>
    </application>

</manifest>